<!-- Start banner section -->
    <section class="banner-section3 relative" id="banner-section">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row align-items-center fullscreen">
                <div class="col-lg-6 col-md-7 banner-left">
                    <h1 class="text-uppercase">Hello, I'm <br> <span>Ruchika Khandelwal.</span></h1>
                    <p>UI/UX Designer & Web Developer</p>
                    <!--<a class="video-btn primary-btn" href="about-us.html">About More</a>-->
                </div>
            </div>
        </div>
    </section>
    <!-- End banner section -->