<!-- Start contact section -->
    <section class="contact-section padding-top-120" id="contact-section">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">Contact</h2>
                <p class="text-center">Get in Touch With Me</p>
            </div>
            <div class="row address-wrap justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 single-address-col">
                    <i class="ti ti-mobile"></i>
                    <p>+91 706 619 3869</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 single-address-col">
                    <i class="ti ti-map-alt"></i>
                    <p>Bengaluru, India</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 single-address-col">
                    <i class="ti ti-email"></i>
                    <p>khandelwal.ruchika1@gmail.com</p>
                </div>
            </div>
            <div class="row justify-content-center form-row">
                <div class="col-lg-9">
                    <form action="https://api.staticforms.xyz/submit" method="post" id="staticform">
                        <input type="hidden" name="accessKey" value="a1a82ddf-0e27-4c1d-8a72-18d7f8a06625">
                        <input type="hidden" name="subject" value="Contact from Ruchika Portfolio">
                        <input type="text" name="honeypot" style="display: none;">
                        <input type="hidden" name="replyTo" value="@">
                        <div class="row contact-form-wrap justify-content-center">
                            <div class="col-md-6 contact-name form-col">
                                <input name="name" id="name" class="form-control" type="text" placeholder="Name*"
                                    onfocus="this.placeholder=''" onblur="this.placeholder='Name*'" required>
                            </div>
                            <div class="col-md-6 contact-phone form-col">
                                <input name="phone" id="phone" class="form-control" type="text" placeholder="Phone"
                                    onfocus="this.placeholder=''" onblur="this.placeholder='Phone'" required>
                            </div>
                            <div class="col-md-12 contact-email form-col">
                                <input name="email" id="email" class="form-control" type="email" placeholder="E-mail*"
                                    onfocus="this.placeholder=''" onblur="this.placeholder='Email*'" required>
                            </div>
                            <div class="col-lg-12">
                                <textarea name="message" id="message" class="form-control" rows="8" placeholder="Message"
                                    onfocus="this.placeholder=''" onblur="this.placeholder='Message'"></textarea>
                            </div>
                            <input type="submit" class="primary-btn" value="Send Message" id="submit-message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact section -->