<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148426246-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-148426246-1');
    </script>
    <!-- Hotjar Tracking Code for ruchikakhandelwal.in -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1544458,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="icon" href="./favicon.ico" type="image/x-icon">
    <!-- Author Meta -->
    <meta name="author" content="Ruchika Khandewal">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Ruchika Khandelwal, Ruchika Khandelwal Portfolio, UI, UX, UI/UX, Designer, UI/UX Designer, Website Designer, Sketch, AdobeXD, Adobe XD, Portfolio, Bangalore, Bengaluru">
    <!-- meta character set -->
    <meta charset="UTF-8">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700" rel="stylesheet">
    {% seo %}

    <meta name="author" content="WeTravelPlanet">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="article" />
    
    <!-- CSS -->

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>