    <!-- Start header section -->
    <header class="header-area" id="header-area">
        <div class="dope-nav-container breakpoint-off">
            <div class="container">
                <div class="row">
                    <!-- dope Menu -->
                    <nav class="dope-navbar justify-content-between" id="dopeNav">
                        <!-- Logo -->
                        <a class="nav-brand" href="index.html">
                            <img src="img/logo.png" alt="" height="35px">
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Start header section -->