<!-- Start service section -->
    <section class="service-section section-gap-full">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">My Services</h2>
                <p class="text-center">Discover The Service I Provide</p>
            </div>
            <div class="row owl-carousel" id="service-carusel">
                <div class="single-service">
                    <i class="ti-user"></i>
                    <h4>UI/UX Design</h4>
                    <p>
                        Designing user behavior through usability, accessibility, &amp; desirability provided in the interaction with a product.
                    </p>
                </div>
                <div class="single-service">
                    <i class="ti-announcement"></i>
                    <h4>Wire-framing</h4>
                    <p>
                        Designing skeletal structure of user interfaces showing the structure, layout, content &amp; functionality of a page accounting user journeys.
                    </p>
                </div>
                <div class="single-service">
                    <i class="ti-bar-chart"></i>
                    <h4>Rapid Prototyping</h4>
                    <p>
                        Quickly creating mock-ups and validating against prospective users and other stakeholders before it is put into full-scale production.
                    </p>
                </div>
                <div class="single-service">
                    <i class="ti-palette"></i>
                    <h4>Web Design</h4>
                    <p>
                        Create unique &amp; custom website which has responsive, cross-browser &amp; cross-device compatibility for better user experience.
                    </p>
                </div>
                <div class="single-service">
                    <i class="ti-agenda"></i>
                    <h4>Interaction Design</h4>
                    <p>
                        Designing the interaction between users &amp; products &amp; creating meaningful relationships between people &amp; the products.
                    </p>
                </div>
                <div class="single-service">
                    <i class="ti-pencil-alt"></i>
                    <h4>Sketching</h4>
                    <p>
                        Drawing to propose, explore, refine &amp; communicate ideas &amp; design. Trying out a multitude of ideas &amp; iterating them.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End service section -->
