<!-- Start testimonial section -->
    <section class="testimonial-section section-gap-full" id="testimonial-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 testimonial-left">
                    <div class="row logos-wrap">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="#">
                                <img class="img-fluid" src="img/logo/logo1.png" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="#">
                                <img class="img-fluid" src="img/logo/logo2.png" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="#">
                                <img class="img-fluid" src="img/logo/logo3.png" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="#">
                                <img class="img-fluid" src="img/logo/logo4.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 testimonial-right">
                    <h2>Happy Clients</h2>
                    <div class="testimonial-carusel carusel-two owl-carousel" id="testimonial-carusel2">
                        <div class="single-testimonial testimonial-white-bg item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar1.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Alice Johnson</h4>
                                    <p>Business Development</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial testimonial-white-bg item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar2.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Amber Mcdonald</h4>
                                    <p>Web Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial testimonial-white-bg item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar3.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Rhonda Barnes</h4>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial testimonial-white-bg item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar1.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Alice Johnson</h4>
                                    <p>Business Development</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial testimonial-white-bg item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar2.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Amber Mcdonald</h4>
                                    <p>Web Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial testimonial-white-bg item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar3.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Rhonda Barnes</h4>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End testimonial section -->